<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand artistic-brand" href="#">☀ 阳光满心路</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" href="http://www.dt2023.cn/">首页</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="#about">正心</a></li>
                <li class="nav-item"><a class="nav-link" href="#portfolio">格致</a></li>
                <li class="nav-item"><a class="nav-link" href="#contact">生活</a></li>
                <li class="nav-item"><a class="nav-link" href="#contact">逐梦</a></li>
                <li class="nav-item"><a class="nav-link" href="http://dt2023.cn/article/mysites.html">链接</a></li>
            </ul>
        </div>
    </div>
</nav>

